{% load compressed %}
doctype 5
html(lang="en")
  head
    title=PAGE_TITLE
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    {% compressed_css 'client' %}
    {% compressed_js 'client' %}
    link(rel='icon', type='image/x-icon', href='./images/fav.png')
  body
    header.navbar
      .logo-link
        a(href='/')
          h1 H. Cole Wiley
      nav.navbar(role="navigation")
        .navbar-header
          button(type="button" ,class="navbar-toggle" ,data-toggle="collapse" ,data-target="#bs-navbar-collapse-1")
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #bs-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            for category in categories
              li.brand
                a(href='/#{category.slug}') #{category.name}
            li.brand
              a(href='/contact') contact
    #content.container
      block content
    footer.container
      .col-sm-12
        .row
          .text-center.links
            li.brand
              a(href='/') home
            for category in categories
              li.brand
                a(href='/#{category.slug}') #{category.name}
            li.brand
              a(href='/contact') contact
