extends layout

block content
  #enlarged.modal.fade(data-keyboard='true')
    .modal-content
      .modal-header
        button.pull-right.close(type='button', data-dismiss='modal',aria-hidden="true")
          span.glyphicon.glyphicon-remove
        h4.name
      .modal-body
        .img
        .info

  .row
    .col-sm-10.col-sm-offset-1
      {% for media in category_media %}
      .row(id='#{media.name}')
        .col-sm-3
          .row
            .col-sm-12
              a(href='##{media.name}')
                h3.italic #{media.name}
              br
          .row.info
            .col-xs-offset-3
              p.short.small #{media.dimensions}
              p.short.small #{media.medium}
              p.short.small #{media.year}
            if media.description
              .col-xs-offset-1
                p.short.small #{media.description}
        {% if media.video_link %}
        .col-sm-8.col-sm-offset-1.video-block
          {% autoescape off %}
          #{media.video}
          {% endautoescape %}
        {% else %}
        .col-sm-8.col-sm-offset-1.enlarge(style="background-image: url('#{media.img()}');", data-dimensions="#{media.dimensions}", data-medium="#{media.medium}", data-year="#{media.year}", data-name='#{media.name}', data-full='#{media.full_res()}')
          img.invisible.img-thumbnail.lg-thumbnail(src="#{media.img()}", data-dimensions="#{media.dimensions}", data-medium="#{media.medium}", data-year="#{media.year}", data-name='#{media.name}', data-full='#{media.full_res()}')
        {% endif %}
        if media.aux_images.count > 0
          .row
            .col-sm-12
              br
            .col-sm-8.col-sm-offset-4
              for img in media.aux_images.all
                .col-sm-3.artist-block
                  img.img-thumbnail.enlarge(src='#{img.thumb()}', data-dimensions="#{media.dimensions}", data-medium="#{media.medium}", data-year="#{media.year}", data-name='#{media.name}', data-full='#{img.full_res()}')
        {% if not forloop.last %}
        .row
          .col-sm-12
            br
            hr.lightGray
            br
        {% endif %}
      {% endfor %}
